<div class="col">
    <div class="card h-100 border-dark text-white bg-dark" >
        <img class="card-img-top" src="{{thumbnail}}" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Precio: $ {{price}}</p>
        </div>
    </div>
</div>
