<nav>

    <% if(data == undefined ){ %>

  <form action="/login" id="sesionForm" method="POST" autocomplete="off">
    <input type="text" name= "username" id="user" placeholder="mail" />
    <input type="password" name= "password" id="pass" placeholder="password" />
    <button class="btn-iniciarSesion" type="submit">
      <h2>Iniciar sesión</h2>
    </button>
    <a href="./register">
    <button class="btn-iniciarSesion" type="button" >
      <h2>Registrarse</h2>
    </button></a>
  </form>

<% }else{ %>

 <h1>Bienvenido <%= data %> </h1>  <form action="/logOut" method="get"><button type="submit" id="logOut-btn">Cerrar sesión</button></form>
      <% } %>

</nav>
