<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
<title>Document</title>
</head>
<body>
    <div id="sUp-form-container">
        <h2>Registrar nuevo usuario</h2>
        <form action="/register" method="post" id="sUp-form">
            <input type="text" placeholder="Nombre" name="input_name">
            <input type="text" placeholder="Apellido" name="input_lastName">
            <input type="text" placeholder="Email" name="username">
            <input type="text" placeholder="Password - 8 caracteres" name="password">
            <input type="text" placeholder="Repetir password" name="password2">
            <button class="btn btn-success" type="submit">Enviar</button>
            <button class="btn btn-dark"><a href="/">volver</a></button>
        </form>
    </div>
</body>
</html>