<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./nav.ejs') %>
    <div class="">
        <h4>Ingresa los datos del producto</h4>
        <form action="/api/productos/add" method="POST">
            <input type="text" name="title" placeholder="Nombre"><br><br>
            <input type="number" name="price" placeholder="Precio"><br><br>
            <input type="text" name="thumbnail" placeholder="URL de imagen"><br><br>

            <input type="submit" value="Subir producto" class="">
            <input type="reset" value="Limpiar" class="">
        </form>
    </div>
</body>
</html>        

