{{>all}}
<form action="/api/productos/add" method="post">
    Title:<input type="text" name="title">
    <br><br>
    Price:<input type="number" name="price">
    <br><br>
    Thumbnail:<input type="text" name="thumbnail">
    <br><br>
    <input type="submit" value="Click aquí para cargar el producto "name="" id="">
</form>